@font-face {
  font-family: "Avenir";
  src: url("./assets/fonts/Avenir-Regular.woff2") format("woff2"),
        url("./assets/fonts/Avenir-Regular.woff") format("woff");
 }

html{
  background-color: #F2F4F8;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
  width: 8vw;
  font-family: Avenir;
  font-weight: bold;
  font-size: 18px;
  padding: 1%;
}

.img__logo{
  height: 7vh;
  padding: 10%;
}

.content{
  display: flex;
  flex-direction: row;
}

.login{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15vw;
  font-family: Avenir;
  font-weight: bold;
  font-size: 18px;
  margin-top: 5vh;
  margin-right: 5vh;
}

.profil__card{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #646678;
  width: 20vw;
  font-family: Avenir;
  padding: 1%;
  border-radius: 5px;
}

.pic__name{
  display: flex;
  flex-direction: row;
  width: 22vw;
}

.profil__pic{
  height: 40px;
}


.name__country{
  margin-left: 1vw;
  margin-top: 0.5vh;
}

.name{
  font-size: 18px;
  font-weight: bold;
}

.country{
  font-size: 14px;
  color: #D0D0D0;
}

.descirption__card{
  margin-top: 2vh;
}

.description__title{
  font-size: 18px;
  margin-bottom: 1vh;
  font-weight: bold;
}

.bestmovie{
  margin-top: 1vh;
}

.film__title{
  margin-bottom: 1vh;
}

.affiche{
  height: 15vh;
  margin-bottom: 1vh;
}

.movie{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
}

.film__title{
  font-size: 18px;
  font-weight: bold;
}

.movie_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film_du_moment{
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #646678;
  width: 20vw;
  font-family: Avenir;
  padding: 1%;
  border-radius: 5px;
}


.left__column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
  margin-left: 10vw;
}

.all__post{
  margin-right: 10vw;
}

.profil__post{
  display: flex;
  flex-direction: column;
  color: #646678;
  width: 20vw;
  font-family: Avenir;
  padding: 1%;
  border-radius: 5px;
} 

.pic__name__post{
  display: flex;
  flex-direction: row;
  width: 22vw;
}

.profil__pic__post{
  height: 40px;
}

.name__country__post{
  margin-left: 1vw;
  margin-top: 0.5vh;
}

.post{
  background-color: white;
  border-radius: 5px;
  color: #646678;
  padding: 1%;
  transform: translateY(-616px);
  margin-left: 35vw;
  width: 40vw;
  margin-bottom: 5vh;
}

.post__text{
  margin-left: 4.2vw;
}